
.tales {
    width: 100%;
}
.carousel-inner{
    width: 70%;
    max-height: 30rem !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0.5rem;
}
body{
    background-color: #4f5b65 !important;
}
a:hover {
background-color: #737678;
color: white !important;
cursor : default;
border-radius:  0.5cm;
}